# Vectorization

In [1]:
import pandas as pd
from nltk import tokenize
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
cv = CountVectorizer()

In [3]:
corpus = "The sky is blue and beautiful. Love this beautiful and blue sky. The sky is very blue and the sky is very beautiful today."

In [11]:
#Using tokenizer to separate words and sentences
words = tokenize.word_tokenize(corpus)
sentences = tokenize.sent_tokenize(corpus)

In [10]:
words

['The',
 'sky',
 'is',
 'blue',
 'and',
 'beautiful',
 '.',
 'Love',
 'this',
 'beautiful',
 'and',
 'blue',
 'sky',
 '.',
 'The',
 'sky',
 'is',
 'very',
 'blue',
 'and',
 'the',
 'sky',
 'is',
 'very',
 'beautiful',
 'today',
 '.']

In [9]:
sentences

['The sky is blue and beautiful.',
 'Love this beautiful and blue sky.',
 'The sky is very blue and the sky is very beautiful today.']

In [17]:
#Building a vocabulary of words in the alphabetical order for using CountVectorizer
X = cv.fit(sentences)
print(X.vocabulary_)

{'the': 6, 'sky': 5, 'is': 3, 'blue': 2, 'and': 0, 'beautiful': 1, 'love': 4, 'this': 7, 'very': 9, 'today': 8}

In [18]:
print(X.get_feature_names())

['and', 'beautiful', 'blue', 'is', 'love', 'sky', 'the', 'this', 'today', 'very']

In [19]:
X = cv.transform(sentences)
X.shape

(3, 10)

In [20]:
print(X.toarray())

[[1 1 1 1 0 1 1 0 0 0]
 [1 1 1 0 1 1 0 1 0 0]
 [1 1 1 2 0 2 2 0 1 2]]

### Document Term Matrix

In [26]:
#Using dataframe to fit the array in a DTM
df = pd.DataFrame(X.toarray(), columns = cv.get_feature_names())
df

   and  beautiful  blue  is  love  sky  the  this  today  very
0    1          1     1   1     0    1    1     0      0     0
1    1          1     1   0     1    1    0     1      0     0
2    1          1     1   2     0    2    2     0      1     2